<div class="container">
    <h1>Create New Product</h1>

    <a href="#" routerLink="/product/index" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="name">Name:</label>
            <input
                formControlName="name"
                id="name"
                type="text"
                class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">Name is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="detail">Detail</label>
            <textarea
                formControlName="detail"
                id="detail"
                type="text"
                class="form-control">
            </textarea>
            <div *ngIf="f.detail.touched && f.detail.invalid" class="alert alert-danger">
                <div *ngIf="f.detail.errors.required">Detail is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <textarea
                formControlName="price"
                id="price"
                type="text"
                class="form-control">
            </textarea>
            <div *ngIf="f.price.touched && f.price.invalid" class="alert alert-danger">
                <div *ngIf="f.price.errors.required">Price is required.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>
