<div class="container">
    <h1>User Login</h1>

    <!-- a href="#" routerLink="/product/index" class="btn btn-primary">Products</!-->

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="username">Username:</label>
            <input
                formControlName="username"
                id="username"
                type="text"
                [(ngModel)]="user.username"
                class="form-control">
            <div *ngIf="f.username.touched && f.username.invalid" class="alert alert-danger">
                <div *ngIf="f.username.errors.required">Username is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input
                formControlName="password"
                id="password"
                type="password"
                [(ngModel)]="user.password"
                class="form-control">

            <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                <div *ngIf="f.password.errors.required">Password is required.</div>
            </div>
        </div>


        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Login</button>
    </form>
</div>
